h1 {
font-family: Tahoma;
font-size: 30px;
}
.left-column {
    float: left;
    width: 50%;
    min-height: 100px;

}

.right-column {
    float: right;
    width: 25%;
    min-height: 100px;
    /*background-color: #d9edf7;*/
}

.footer {
    clear: both;
}
