span {
padding: 2px 5px 2px 5px;
border-radius: 7px;
color: white;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
input[type=checkbox] {
  display:none;
}
label[for=red] {
  color: red;
  text-decoration: underline;
}
label[for=green] {
  color: green;
  text-decoration: underline;
}
label[for=blue] {
  color: blue;
  text-decoration: underline;
}
input#red:checked ~ .red {
  display:none;
}
input#green:checked ~ .green {
  display:none;
}
input#blue:checked ~ .blue {
  display:none;
}
