h1 {
  color: orange;
  text-align: right;
}
em {
    background-color: green;
    color: white;
}
p:first-letter {
  font-size: 30px;
  color: red;
}
div#allotment h2 {
  color: orange;
}
div#warehouse h2 {
  color: orange;
}
ol.fruits-list {
  color: red;
}
