div {
background-color: #a64dff;

font-family: Impact;
font-size: 20px;
color: white;
box-shadow: 0 0 3px;
}
ul {
  width: 900px;
}

li {
display: inline-block;
padding: 8px 17px;
}
li:hover {
  color: #9faabc; /* Цвет текста активного пункта */
  background-color: #eee; /* Цвет фона активного пункта */
  box-shadow: 5px 5px;
}
