span {
padding: 2px 5px 2px 5px;
border-radius: 7px;
color: white;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
input[type=checkbox] {
  visibility: hidden;
}
label[for="red"] {
  color: red;
  text-decoration: underline;
}
