h1 {
  color: orange;
  text-align: right;
}
em {
    background-color: green;
    color: white;
}
p:first-letter {
  font-size: 30px;
  color: red;
}
div#allotment h2 {
  color: orange;
}
div#warehouse h2 {
  color: blue;
}
ol.vegetables-list {
  color: red;
}
ul li:first-line {
  font-weight: bold;
}
div#allotment .fruits-list {
  color: grey;
  font-weight: none;
}
div#allotment .vegetable-list {
  color: red;
  font-weight: none;
}
div#warehouse .fruits-list {
  color: green;
  font-weight: none;
}
div#warehouse .vegetable-list {
  color: red;
  font-weight: none;
}
thead {
  font-weight: bold;
}
tbody tr td:first-child {
  color: orange;
}
